body{
    margin:auto;
}

a{
    text-decoration:none;
}

#header{
    height:25px;
    background-color: #ed9521;
    position:fixed;
    width:100%;
}

.login{
    color:solid black;
    float:right;
    margin-right:2%;
    font-size: 20px;
    font-family:bold;
}

.signup{
    color:solid black;
    margin-left:2%;
    font-size:20px;
    font-family:bold;
}

.headingText{
    
}